<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tour Request Created</title>
</head>
<body>
<div style="background-color: #ffffff; color: #000000; padding: 10px;">
    <p style="text-align: center; font-size: 18px; font-weight: bold;">Dear [[${ownerUserFullName}]],</p>
    <p>Here are the details of your tour request:</p>
    <div style="background-color: #6cb533; padding: 10px;">
        <p>Tour Date: [[${tourDate}]]</p>
        <p>Tour Time: [[${tourTime}]]</p>
    </div>
    <p>Thank you for choosing our platform.</p>
    <p>If you have any questions or need further assistance, please contact our customer support team.</p>
    <p style="font-style: italic;">Best regards,<br>Ritzy Homes</p>
</div>
</body>
</html>